<%- include('../partials/header') %>

<h2>All Flights</h2>

<table id="list">
    <thead>
        <tr class="flight-row">
            <th class="header">Airline</th>
            <th class="header">Airport</th>
            <th class="header">Flight Number</th>
            <th class="header">Depature</th>
            <th class="header">Details</th>
        </tr>
    </thead>
    <!-- <% console.log(flights) %> -->
    <tbody>
        <% flights.forEach((f) => { %>
            <tr class="flight-row">
                <td class="flight-cell"><%= f.airline %></td>
                <td class="flight-cell"><%= f.airport %></td>
                <td class="flight-cell"><%= f.flightNo %></td>
                <td class="flight-cell"><%= f.departs.toLocaleDateString() %>  |  <%= f.departs.toLocaleTimeString() %></td>
                <td><a href="/flights/<%= f._id %>">Details</a></td>
            </tr>
        <% })  %>
    </tbody>
</table>

<br />

<a class="btn" href="/flights/new">Add New Flight</a>

<%- include('../partials/footer') %>
  